<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="home-content">
        <span class="title">Vende por internet, desde hoy</span>
        <p class="description">Nuestro sistema ofrece todo lo necesario para la creación de una tienda virtual en segundos, solo necesitas colocar tus productos y automaticamente estas listo para que estos lleguen a los hogares de tus clientes.</p>
      </div>
    </div>
  </div>
</div>

<div class="row sections responsive-section">
  <div class="container">
    <div class="col-lg-5 col-md-5 col-xs-12">
      <img class="responsive-image" src="/images/responsive.svg" />
    </div>
    <div class="col-md-7 col-lg-7 col-xs-12">
      <div class="section-container">
        <span class="title">Accesible desde cualquier dispositivo</span>
        <p class="description">Con Pidelocal tu tienda virtual siempre estará disponible para los clientes, con un diseño que se adapta a las pantallas para que se pueda utilizar comodamente desde computadoras, celulares y tabletas.</p>
      </div>
    </div>
  </div>
</div>

<div class="row sections shipping-section">
  <div class="container">
    <div class="col-md-7 col-lg-7 col-xs-12">
      <div class="section-container">
        <span class="title">Envio rapido, sencillo, confiable..</span>
        <p class="description">Nos encargamos de recoger los productos a tu tienda o almacen y entregarlos directo a la casa de tus clientes.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12 col-md-offset-1">
      <img src="/images/shipping.svg" />
    </div>
  </div>
</div>

<div class="row sections start-today-section">
  <div class="container">
    <div class="col-lg-4 col-md-4 col-xs-12">
      <img class="start-today-image" src="/images/today.svg" />
    </div>
    <div class="col-md-7 col-lg-7 col-xs-12 col-md-offset-1">
      <div class="section-container">
        <span class="title">Comienza hoy mismo</span>
        <p class="description">No es necesario esperar, comunicate con uno de nuestros representantes para que hoy mismo inicies a vender por internet.</p>
        <a href="<%= new_store_request_path %>" class="btn btn-pidelocal">Iniciar solicitud</a>
      </div>
    </div>
  </div>
</div>

