<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="home-content">
        <span class="title">La solicitud fue creada con exito</span>
        <p>Uno de nuestros representantes estará revisando la solicitud y se estará comunicando con usted lo mas pronto posible</p>
        <img src="/images/successful.png" />

      </div>
    </div>
  </div>
</div>

