<div id="orders">
  <h3>Mis Ordenes</h3>
  <% @orders.each do |order| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="order-date pull-left">
          <%= l order.created_at, format: :short %> - Numero de orden #<%= order.id %>
        </div>
        <div class="order-status pull-right">
          
        </div>
        <div class="clear">
        </div>
      </div>
      <div class="panel-body">
        <% order.order_items.each do |item| %>
          <div class="order-item">
            <span class="order-item-quantity">
              <%= item.quantity %>x
            </span>
            <%= item.name %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
