<div class="row">
  <div class="col-md-12">
    <div class="review-order-item">
      <span class="item-quantity"><%= cart_item.quantity %>x</span>
      <img  class="item-image" src="<%= cart_item.item.image.url :thumb %>" />
      <span class="item-name"><%= cart_item.item.name %></span>
      <span class="item-price">RD$ <%= cart_item.price * cart_item.quantity %></span>
      <div class="clear"></div>
    </div>
  </div>
</div>
