/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require home
 *= require font-awesome
 */

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

.logo {
    height: 80px;
    margin-top: -25px;
}

ul.dropdown-lr {
  width: 300px;
  color: #000;
}

/* mobile fix */
@media (max-width: 768px) {
  .dropdown-lr h3 {
    color: #eee;
}
.dropdown-lr label {
  color: #eee;
}
}

.cart-top-icon {
  vertical-align: super;
  margin-top: -2px;
  font-size: 25px !important;
  color: #FFF;
}

#logo a h1 {
  font-family: sans-serif;
}

.product-image {
  border: none !important;
}

.fa-ul li p { 
  line-height: 34px !important;
}

.clear {
  clear: both;
}

.main-nav {
  background-color: #30373b;
  height: 55px;
  border-radius: 0px;
  font-family: 'Open Sans', sans-serif;

}

.main-nav .navbar-nav li a {
  font-size: 14px;
}

.footer {
  background-color: #30373b;
  margin-top: 100px;
  height: 400px;
}

.footer .container {
  margin-top: 50px;
  color: #FFF;
}

.footer .aliados-header {
  font-size: 22px;
  color: #FFF;
  display: block;
  margin: 0px 0px 20px 0px;
}
.icon-white {
  color: #FFF;
}

.footer i {
  position: initial;
  font-size: 18px;
  margin: 0px 10px 0px 0px;
}

.footer .icon-span {
  margin-bottom: 20px;

}

.footer .icon-span span {
  font-size: 18px;
  color: #ccc;
}

.footer li {
  list-style: none;
  color: #FFF;
  font-size: 18px;
  margin: 10px;
}
.footer li a {
  color: #fff;
}

.footer li a:hover {
  color: #e34444;
}
