// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shipping-address {
    padding: 10px;
    list-style: none;

    input {
        margin-right: 10px !important;
    }

    span {
        font-size: 15px;
    }
}

.btn-default {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-border-radius: 0px;
}

.informacion-pago {
  margin-bottom: 5px;
  display: block;
}

.review-order-item {

  margin: 5px;
  padding: 0px 0px 8px 0px;

  .item-image {
    padding: 10px;
  }

  .item-name {
    font-size: 18px;
    margin: 2px;
  }

  border-bottom: solid 1px #ccc;

  .item-quantity {
    font-size: 20px;
    font-weight: bold;
    color: #e34444;
    margin: 5px;
  }

  .item-price {
    margin: 15px;
    font-size: 15px;
    float: right;
  }
}

.shipping-address-review-order {

  span {
    display: block;
  }
}

.order-totals {
  text-align: right;
}

.place-order-form-bd {
  border: none !important;
  padding: 0px !important;
}
