// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shipping-address {
    padding: 10px;
    list-style: none;

    input {
        margin-right: 10px !important;
    }

    span {
        font-size: 15px;
    }
}

.btn-default {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-border-radius: 0px;
}

.informacion-pago {
  margin-bottom: 5px;
  display: block;
}
