// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #e34444;

#orders {
  .panel {
    .panel-body {
      font-family: 'Open Sans';

      .order-item {
        margin-bottom: 5px;
        .order-item-quantity {
          color: $red;
          font-weight: bold;
          font-size: 14px;
        }
      }
    }
  }
}
