/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap.min
 *= require font-awesome
 *= require products
 *= require_self
 *
 */

.main-nav {
  background-color: #30373b;
  height: 55px;
  border-radius: 0px;
  font-family: 'Open Sans', sans-serif;
}

.navbar-nav > li > a {
  color: #ccc !important;
  font-size: 15px;
}

.navbar-nav > li > a:hover {
  color: #fff !important;
}

.footer {
  background-color: #30373b;
  margin-top: 100px;
}

.footer .container {
  margin-top: 50px;
  color: #FFF;
}

.footer .pidelocal-footer-image-row {
    border-top: solid 1px #ccc;
    margin-top: 40px;
}

.footer .pidelocal-footer-image {
    width: 250px;
    margin-left: -30px;
}

.aliados-header {
  font-size: 20px;
}

.icon-span {

  margin-top: 10px;
  font-size: 15px;
  i {
    margin-right: 10px;
  }
}

img {
  max-width: 100%;
}



