<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="aliados-header">Contacto</span>
            <div class="icon-span">
              <i class="fa fa-envelope icon-white"></i><span>info@pidelocal.com</span>
            </div>
            <div class="icon-span">
              <i class="fa fa-phone icon-white"></i><span>(829) 696-4737</span>
            </div>
          </div>
        </div>
        <div class="row pidelocal-footer-image-row">
          Powered by  
          <img src="/images/pidelocalwhite.png" class="pidelocal-footer-image" />
        </div>
      </div>
    </div>
  </div>
</div>

