<div class="product-box">
  <img alt="" src="<%= product.image.url(:medium) %>">
  <a href="<%= product_path(id: @store.identifier, product_id: product.id) %>">
    <%= product.name %>
  </a>
  <span class="price1">$ <%= product.price %></span>
</div>

