<div class="product-box">
  <img alt="" src="<%= product.image.url(:medium) %>">
  <a href="<%= store_product_path(@store.identifier, product) %>">
    <%= product.name %>
  </a>
  <span class="price1">$ <%= product.price %></span>
</div>

